{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Clinic docs{% endblock %}

{% block branding %}

<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'logo.png' %}" alt="Logo" height="40" />
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}