{% load i18n admin_urls %}
{% load static %}
<div class="submit-row">
{% block submit-row %}
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default" name="_save">{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
{% endif %}
<input type="button" value="Generar PDF" class="default" name="pdf_generate" onclick="generarPDF()">
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% trans 'Close' %}</a>{% endif %}
{% endblock %}
</div>

<script src="{% static 'jspdf.debug.js' %}" type="text/javascript"></script>

<script>
 function generarPDF() {
   let nombre = document.getElementsByName("nombre")[0].value;
   let apellido = document.getElementsByName("apellido")[0].value;
   let sexo = document.getElementsByName("sexo")[0].value;
   sexo = (sexo==='H')?'Hombre':'Mujer';
   let edad = document.getElementsByName("edad")[0].value;
   let peso = document.getElementsByName("peso")[0].value;
   let estatura = document.getElementsByName("estatura")[0].value;
   let diabetes = document.getElementsByName("diabetes")[0].value;
   diabetes = (diabetes==='S')?'Si':'No';
   let hipertencion = document.getElementsByName("hipertencion")[0].value;
   hipertencion = (hipertencion==='S')?'Si':'No';
   let diagnostico = document.getElementsByName("diagnostico")[0].value;
   let recomendacion = document.getElementsByName("recomendacion")[0].value;
   let afiliado = document.getElementsByName("creado_en_0")[0].value;
   console.log(
     nombre+" "+apellido+" "+sexo+" "+edad+" "+peso+" "+estatura+" "+diabetes+" "+hipertencion+" "+
     diagnostico+" "+recomendacion+" "+afiliado
   );


    var doc = new jsPDF();
    var img = new Image();
    img.src = '/static/logo_pdf.png';
    doc.addImage(img, 'PNG', 60, 5, 80, 21);

    doc.text('Fecha de afiliacion: '+afiliado, 15, 40);
    doc.text('Nombre: '+nombre, 15, 50);
    doc.text('Apellido: '+apellido, 15, 60);
    doc.text('Sexo: '+sexo, 15, 70);
    doc.text('Edad: '+edad, 15, 80);
    doc.text('Peso: '+peso, 15, 90);
    doc.text('Estatura: '+estatura, 15, 100);
    doc.text('¿Padece diabetes? '+diabetes, 15, 110);
    doc.text('¿Padece hipertencion? '+hipertencion, 15, 120);
    doc.text('Diagnostico: '+diagnostico, 15, 130);
    doc.text('Recomendacion: '+recomendacion, 15, 140);
    doc.save(nombre+'_'+apellido+'.pdf');
 }
</script>